@charset "urf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto:wght@300;400&display=swap');

    *{ margin: 0; padding: 0; box-sizing: border-box; }
    /* 상단 메뉴 설정 */
    header,
    main {
      font-family: 'Noto Sans KR', sans-serif;
    }

    nav {
      padding-bottom: 20px;
      box-shadow: 0 0 5px 0 rgba(90, 91, 95, 0.5);
    }

    .nav-wrap {
      background-color: white;
      width: 1280px;
      margin: 0 auto;
      padding: 20px 0;
      color: black;
      display: flex;
      justify-content: space-between;
    }

    .nav-wrap #logo {
      margin-top: 20px;
    }

    .nav-wrap ul {
      display: flex;
      margin-top: 17px;
    }

    .nav-wrap ul li {
      list-style: none;
      font-size: 23px;
      padding: 6px 22px;
    }

    .nav-wrap ul li:hover {
      cursor: pointer;
      background-color: #cf152d;
      color: white;
      border-radius: 30px;
    }

    .nav-wrap ul div {
      margin-right: 30px;
    }

    .nav-wrap ul div img {
      width: 100%;
      height: 40px;
      object-fit: cover;
    }

    .nav-wrap ul div img:hover {
      cursor: pointer;
    }

    .nav-wrap ul li:nth-child(-n+3) {
      margin-right: 50px;
    }
    /* 메인 영역 설정 */
    .container {
      width: 1280px;
      margin: 0 auto;
      padding: 20px 0;
      color: black;
      display: flex;
      justify-content: center;
    }
    i {
      margin-right: 10px;
    }
    .login-form {
      position: relative;
      border: 0;
      padding: 40px 40px;
      border-radius: 25px;
      margin-top: 60px;
    }
    .login-form h1 {
      font-size: 2.3rem;
      color: black;
      text-align: center;
      margin-bottom: 30px;
    }
    .login-form p {
      text-align: center;
      margin: 20px 0;
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.8);
    }
    .int-area {
      width: 500px;
      position: relative;
    }
    .int-area .font {
      position: absolute;
    }
    .int-area input {
      width: 100%;
      padding: 30px 15px 10px;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid black;
      font-size: 0.9rem;
      color: black;
      outline: none;
      font-family: 'Roboto', sans-serif;
    }
    .int-area label {
      position: absolute;
      left: 10px;
      top: 17px;
      font-size: 1.0rem;
      color: black;
      transition: 0.5s;
    }
    .int-area input:focus + label, .int-area input:valid + label {
      top: 0px;
      font-size: 0.9rem;
      color: #cf152d; 
      font-family: 'Noto Sans KR', sans-serif;
    }
    .btn-area {
      margin-top: 30px;
    }
    .btn-area button {
      width: 100%;
      height: 70px;
      background-color: #cf152d;
      color: white;
      font-size: 1.1rem;
      border: 0;
      border-radius: 15px;
      cursor: pointer;
      box-shadow: 2px 2px 2px #333;
      font-family: 'Noto Sans KR', sans-serif;
    }
    .btn-area button:hover {
      opacity: 0.9;
    }
    .caption {
      margin-top: 25px;
    }
    .caption a {
      font-size: 1.0rem;
      color: black;
      text-decoration: none;
      margin-left: 53px;
    }