* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', sans-serif;
}
main {
  width: 1920px;
  height: 550px;
}
main::after {
   /* url을 사용한다 */
  /* CSS파일로 분리 시켰을때는 ../를 붙여줘야한다 */
  background-image: url('../images/capybara.jpg');
  width: 1920px;
  height: 550px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1;
  background-size: cover;
    /* 부족한 부분을 채우기 위해서 이미지를 반복을한다 그것을 제거 */
    background-repeat: no-repeat;
    /* 이미지를 꽉 채워준다 */
    background-size: cover;
    /* 이미지 사진을 중심으로 */
    background-position: center;
}
.content-wrap {
  width: 1550px;
  margin: 0 auto;

  display: flex;
  /* justify-content: center; */

  /* flex에서 세로 정렬은 높이 값이 있어야한다 */
  /*세로 정렬을 위한 자식 사각형 (block타입)은 하나만 있어야한다 */
  align-items: center;
  height: 500px;
}
.content { 
  /* background-color: rgba(255, 255, 255, 0.7); */
  width: 600px;
  padding: 20px 10px;
}
.content h1 {
  font-size: 40px;
  color: #916661;
  margin-top: 20px;
  margin-bottom: 30px;
}
.content p {
  color: wheat;
  text-align: justify;
}
.content h2 {
  color: wheat;
}