@charset "UTF-8";
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  }
body {
  font-family: 'Gothic A1', sans-serif;
  }
ul li {
  list-style: none;
  }
a {
  text-decoration: none;
  color: #333;
  }
table {
  border-collapse: collapse;
  width: 100%;
  }
img {
  width: 100%;
  height: 100%;
  }