@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  /* a태그 초기화 값 */
  text-decoration: none;
}
button {
  /* 버튼 초기화 값 */
  border: 0;
}
body {
  font-family: 'Heebo', sans-serif;
}
.container {
  width: 100%;
  height: 100px;
  background-color: #333;
}
.wrap {
  width: 1800px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo h1    {
  color: white;
  font-size: 35px;
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.nav ul {
  display: flex;  
}
.nav li {
  color: white;
  padding-left: 35px;
  font-size: 25px;
}
.bgwrap {
  /* img의 넓이값은 무조건 100% */
  width: 100%;
  height: 1080px;
  background-image: url(../images/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg {
  /* align-items: center를 사용하려면 높이와 flex가 존재해야한다 */
  display: flex;
  width: 1400px;
  height: 1020px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.bg-content {
  /* bg안에 넓이를주어 글자를 중앙으로 옮길수 있게 도와준다*/
  width: 1000px;
  /* text-align => 글자를 중앙으로 이동 */
  text-align: center;
}
.bg-content button {
  font-size: 25px;
  /* 초기화된 박스 테두리에 색을 넣어줌 */
  border: 1px solid black;
  color: black;
  /* 박스안에 좌우 위아래 간격 */
  padding: 14px 16px;
  /* 박스의 색깔을 투명하게 만드는것 */
  background-color: transparent;
  margin-bottom: 30px;
  font-weight: bold;
}
.bg h2 {
  color: white;
  font-size: 70px;
  /* text-shadow 글자에 음영넣기 */
  text-shadow: 2px 2px 2px #222;
  /* 글자 사이간격 주기(자간) */
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
}




